# Dependencies
node_modules/

# Build
dist/

# Logs
*.log
logs/

# Database
*.db
*.db-journal
dev.db

# Uploads (Files uploaded by users)
uploads/*
!uploads/.gitkeep

# Environment
.env
.env.local
.env.test

# Prisma
/generated/prisma
